.hello {
  color: red;
  /* background: url('./painting.png'); */
}
.Plexus-container{
height: 90%;
width: 100%;
}
body{
  background-color: 'lightblue';
}
.bar{
  width: 30%;
  display: inline-block;
  /* float: right; */
  /* margin: auto; */
  margin: 0% 2em
}
.button-container{
  /* float:left; */
  display: inline-block;
}
.newButton{
  margin: 0% .2em;
  /* color: #FB7272; */
}
#cy {
  height: 90%;
  width: 100%;
  z-index: 999;
  display: block;
}
#lasttwo{
  /* text-align: center; */
  display: inline-block;
  font-family: 'Optima';
  font-style: italic;
  margin: 0% 2em;
  
}
#title{
  font-family: 'Optima'
}
.button1 {
  position: relative;
  margin: auto;
  height: 30px;
  width: 80px;
  border-radius: 30%;
  cursor: pointer;
  border: 2px solid #FB7272;
}
#above{
  /* display: flex;
  justify-content: left; */
  color: #FB7272;
  text-align: left;
}
#snackbar {
  visibility: hidden;
  min-width: 50px;
  /* margin-left: -400px; */
  color: #FB7272 ;
  background-color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 20px;
  bottom: 30px;
  font-size: 30px;
  font-style: italic;
  font-family: "Apple Chancery, cursive"
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.potential {
  color: #00008b
}
